<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title%></h1>
    <ul>
      <li>이름:<%= userInfo.name%></li>

      <li>성별:<%= userInfo.gender%></li>

      <li>생일:<%= userInfo.year%>-<%= userInfo.month%>-<%= userInfo.day%></li>

      <li>관심사:<%= userInfo.hobby%></li>
      <!-- <%#if (userInfo.color) {%>도 가능 -->
      <%if (typeof userInfo.color !== 'undefined') {%>
      <li>좋아하는 색상:<%= userInfo.color%></li>
      <%}%> <%if (typeof number!== 'undefined') {%>
      <li>좋아하는 숫자:<%= userInfo.number%></li>
      <%}%>
    </ul>
    <br />
    <a href="/">홈으로 이동</a>
  </body>
</html>
