<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1><%= title%></h1>
    <ul>
      <li>이름:<span><%= name%></span></li>
      <%if (female) {%>
      <li>성별:<span><%= female%></span></li>
      <%} else if (male) {%>
      <li>성별:<span><%= male%></span></li>
      <%}%>

      <li>생일:<span><%= year%>-<%= month%>-<%= day%></span></li>

      <li>관심사:<span><%= travel%>, <%= fashion%>, <%= food%></span></li>

      <%if (typeof color !== 'undefined') {%>
      <li>좋아하는 색상:<span><%= color%></span></li>
      <%}%> <%if (typeof number!== 'undefined') {%>
      <li>좋아하는 숫자:<span><%= number%></span></li>
      <%}%>
    </ul>
    <br />
    <a href="/">홈으로 이동</a>
  </body>
</html>
